.Background {
    position: absolute;
    /* background-color: rgba(201, 106, 129, 0.644); */
    background-image: url('../../assets/images/background.jpg');
    width: 100%;
    height: 100%;
}
.Modal {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    padding: 30px;
    box-sizing: border-box;
    width: 40%;
    background-color: rgba(224, 158, 158, 0.534);
 
}

.Input, .Label, .Button {
    display: block;
    margin: 15px auto;
}

.Modal .socialLogin {
    box-sizing: border-box;
    width: 55%;
    margin: auto;
    margin-bottom: 15px;
}

.Checkbox {
    display: inline-block;
    margin-right: 20px;
}