.Background {
    position: absolute;
    /* background-color: rgba(201, 106, 129, 0.644); */
    background-image: url('../../../assets/images/background.jpg');
    width: 100%;
    height: 100%;
}

.Modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(224, 158, 158, 0.534);
    border: 2px solid #ccc;
    padding: 0px 30px;
    box-sizing: border-box;
    width: 45%;
    height: 60%;
    margin: auto;
    
}


